[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "2021.3"
pyqt5 = "5.15.4"
pyqt5-tools = "5.15.4.3.2"
pyside2 = "5.15.2"

[dev-packages]

[requires]
python_version = "3.7"
